.moveObject{
    animation: MoveUpDown 2s ease-in-out infinite;
    position: absolute;
   
   
}
@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
  }